/build/
/compile_commands.json
/out/
/logs/
**/__pycache__/**
/.cache/
/.cpm-cache/
*venv*
*.log
dqxclarity/defaults.pref
dqxclarity/misc_files/*.csv
dqxclarity/misc_files/*.xlsx
dqxclarity/misc_files/*.db
dqxclarity/logs

# CI/CD artifacts and configuration
config.toml
imgui.ini
unknown_labels.txt